.field {
    position: relative;
    width: 500px;
    height: 300px;
    border: none;
    color: gray;
    background-color: #000000;
    z-index: 0;
    display: block;
}
.aOB {
    position: absolute;
    background-color: lightcoral;
    color: black;
    width: 90px;
    height: 20px;
    text-align: center;
    right: 2px;
    user-select: none;
    cursor: default;
    border-radius: 3px;
    text-transform: capitalize;
}
